<div class="principal">
  <div>
    <mat-card style="background-color: rgb(68, 68, 124); align-items: center;">
      <div>
        <p style="text-align: center;">Copa do Mundo de Games</p>
      </div>
      <mat-card-title class="cardTitle" style="text-align: center;">{{title | uppercase}}</mat-card-title>
      <mat-card-content>
        <p style="text-align: center;">Selecione 8 games que você queira que entrem na seleção e depois pressione o botão "Gerar Campeonato" para prosseguir.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div style="margin-top: 15px;" class="wrapper">
    <div>
      <p style="text-align: right; margin-bottom: 0px;">SELECIONADOS</p>
      <p style="text-align: right; padding-top: 0px;" [(ngModel)]="totalSelected">{{totalSelected}} GAMES</p>
    </div>
    <div>
      <button mat-button [disabled]="totalSelected < 3" class="btnGen">Gerar Campeonato</button>
    </div>
  </div>
  <div>
    <mat-grid-list cols="4" rowHeight="120px">
      <mat-grid-tile *ngFor="let game of games">
        <mat-card style="width: 220px; height: 80px;">
          <mat-checkbox
            [disabled]="!game.selected && totalSelected > 2"
            [(ngModel)]="game.selected"
            [checked]="game.selected"
            (ngModelChange)="updateCheckedState()">
            <mat-card-title style="padding-top: 13px;">{{game.name}}</mat-card-title>
          </mat-checkbox>
          <mat-card-content style="padding-top: 25px;">
            <p style="text-align: right;">{{game.console}}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
