.principal{
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.cardTitle{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 12% 84%;
}

.btnGen{
  float: right;
  background-color: cyan;
  border-style: groove;
  font-family: 'Times New Roman', Times, serif;
}
